@use '../../scss/mixins' as mix;
@import '../../scss/variables';

.header {
  background-color: #ffffff;
  display: flex;
  position: sticky;
  top: 0;
  z-index: 1;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  height: $header-size;
  padding: 0 20px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;

  &__img {
    width: 60px;
    object-fit: contain;
  }

  &__title {
    margin: 0;
    line-height: 100%;
    color: #000000;
    @include mix.font('Rubik', 22px, 600);
  }
}

.nav {
  margin-left: auto;

  &__list {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
    @include mix.font('Rubik', 18px, 400);
    text-transform: uppercase;

    &:hover a:not(:hover) {
      &::before {
        transform: scaleX(0);
      }
    }
  }

  &__link {
    cursor: pointer;
    white-space: nowrap;
    text-decoration: none;
    color: #000;
  }
}

.pageName {
  margin: 0 auto;
  padding: 10px 30px;
  @include mix.font('Rubik', 20px, 400);
  border: 1px solid #e6e7eb;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(9, 0, 65, 0.05);
}
