@use '../../../scss/mixins' as mix;

.errorList {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 10px 0 0;
  padding: 0 0 0 25px;

  &__item {
    @include mix.font('Rubik', 16px, 300);
    color: red;
    line-height: 150%;
  }
}
