@use '../../scss/mixins' as mix;

.container {
  box-sizing: border-box;
  max-width: 1141px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  padding: 40px;
  border: 1px solid #e6e7eb;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(9, 0, 65, 0.05);
}

.postForm {
  padding: 75px 20px 20px;

  &__title {
    margin: 0;
    @include mix.font('Rubik', 32px, 600);
    text-align: center;
  }
}

.formContent {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.formWrapper {
  display: flex;
  flex-direction: column;
  gap: 25px;
  max-width: 400px;
}

.formContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 60px;
}

.formButton {
  align-self: center;
  width: 200px;
  padding: 10px 20px;
  outline: none;
  border: none;
  cursor: pointer;
  margin-top: 45px;
  @include mix.font('Rubik', 20px, 400);
}
