@import 'normalize.css';
@import 'variables';
@import 'fonts.scss';
@import './components';

$fa-font-path: '@fortawesome/fontawesome-free/webfonts';
@import '@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '@fortawesome/fontawesome-free/scss/solid.scss';

body {
  background-color: $bg-color;
}

#root {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-template-areas:
    'header'
    'main'
    'footer';
}
