@import 'normalize.css';
@import 'variables';
@import 'fonts.scss';

$fa-font-path: '@fortawesome/fontawesome-free/webfonts';
@import '@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '@fortawesome/fontawesome-free/scss/solid.scss';

body {
  background-color: $bg-color;
}

a {
  text-decoration: none;
}
