@use '../../../../scss/mixins' as mix;

.profilePicture {
  align-self: center;
  position: relative;
  &__preview {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 86px;
    height: 86px;
    border-radius: 86px;
    background: rgba(128, 128, 128, 0.1607843137);
    cursor: pointer;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__title {
    @include mix.font('Rubik', 14px, 300);
    margin: 0;
  }
}